@import 'variaveis';

.botao{
    font-size: $tamanho-botao;
}

.logo{
    background-image: url(../imgs/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
}