@import 'variaveis';

.botao{
    font-size: $tamanho-botao / 2;
}

.logo{
    background-image: url(../imgs/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 60px;
}